@charset "utf-8";



/* ページ共通のカラーリング */


:root {
    /* width */
    --content-width-PC: 900px;
    --min-content-width: 320px;
    /* ※スマートフォンの最小幅は320px */
    --content-width-TABLET: 100vw;
    /* color */
    --page-color: rgb(237, 240, 237);
    --main-color: #547557;
    --sub-color: #E1EFEF;
    --sub-color2: #1c9f94;
    --sub-color3: hsl(51, 33%, 58%);
    --sub-color4: #8b7546;
    --line-green: #61d94f;
    --black: #666;
    --white: #fff;
    --right-gray: #cccccc;
    /* text-shadow */
    --shadow1: 0 2px 0 #888, 0 3px 0 #888, 0 4px 5px #333, 5px 4px 2px var(--black);
    --shadow2: 0 2px 0 #888, 0 3px 0 #888, 0 4px 5px #333;
    /* spacing */
    --spacingL: 90px;
    --spacingM: 40px;
    --spacingS: 20px;
    /* text-size for PC */
    --text-size-PC-A: 19px;
    /* ↑M */
    --text-size-PC-B: 17px;
    --text-size-PC-C: 18px;
    --text-size-PC-D: 20px;
    --text-size-PC-E: 22px;
    --text-size-PC-F: 28px;
    /* ↑LL */
    --text-size-PC-G: 28px;
    --text-size-PC-H: 30px;
    --text-size-PC-I: 36px;
    --text-size-PC-J: 45px;
    --text-size-PC-K: 48px;
    --text-size-PC-L: 52px;
    /* text-size for TABLET */
}



/* 🌎全体に適用するスタイル ここから🌎 */


*{
    box-sizing: border-box;
    font-family: 'Meiryo', 'sans-serif', 'Times New Roman';
    outline: red solid 1px;
}

#wrapper{
    /* width: var(--content-width-PC); */
    /* min-width: var(--content-width-PC); */
    min-width: var(--min-content-width);
    max-width: var(--content-width-PC);
    margin: auto;
}

body{
    font-size: var(--text-size-PC-A);
    margin: 0;
    /* border: 3px solid rgb(255, 255, 255); */
    background-color: var(--page-color);
}

p{
    font-size: var(--text-size-PC-A);
    margin: 0;
    padding: 0;
    line-height: 100%;
    color: var(--black);
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

strong{
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: var(--text-size-PC-A);
}

li {
    list-style: none;
}

li p{
    padding: 0;
}

img{
    width: 100%;
    /* object-fit: cover; */
    /* margin: 0; */
    /* padding: 0; */
    vertical-align:top;
    /* ↑これを指定することで margin, padding 0 指定でも消せない空白を消す */
    /* 🎀「img」には必ず指定した方が良い！🎀 */
}

hr{
    margin: 0;
}

address{
    color: var(--black);
}

/* div{
    margin: 0;
    padding: 0;
} */


/* 子要素のpにflexを適用するためのclass */
.text-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* ↑ DO NOT REWRITE ↑ */


/* 🌎全体に適用するスタイル ここまで🌎 */



/* 📜文字のスタイルの指定 ここから📜 */


/* 📜文字スタイル-ヘッダー部分-📜 */

h1{
    color: var(--white);
    text-shadow: var(--shadow1);
}

.catch-1 .circle p{
    color: var(--black);
    font-weight: bold;
    text-shadow:1px 1px 2px var(--white);
}

.catch-1 .catch-1-text p{
    color: var(--white);
    font-weight: 400;
    text-shadow: var(--shadow2);
}

.catch-2 p{
    font-size: var(--text-size-PC-A);
    color: var(--white);
    text-shadow: var(--shadow2);
}

/* 📜文字スタイル-ヘッダー部分-ここまで📜 */


/* 📜文字スタイル-商品紹介ヘッダー直下部分-ここから📜 */

.promo-top p, .promo-top p strong{
    font-size: var(--text-size-PC-F);
    color: var(--white);
}

.promo-top p strong{
    font-size: var(--text-size-PC-I);
    color: var(--white);
    padding: 0 10px;
}


.promo-middle p:first-child{
    font-size: var(--text-size-PC-F);
    /* font-weight: bold; */
    color: var(--main-color);
    
}

.promo-middle p:nth-child(2){
    
}

.promo-bottom .send-free-top p{
    color: var(--white);
}

.promo-bottom .send-free-bottom p{
    color: var(--sub-color4);
}

.promo-bottom .send-free p{
    /* font-weight: bold; */
    font-size: var(--text-size-PC-C);
}

.promo-bottom .total-cost p strong{
    font-size: 68px;
    line-height: 1em;
    /* font-weight: bold; */
}

.promo-bottom .button p{
    font-size: var(--text-size-PC-E);
    color: var(--white);
}

.introduction-product-title p{
    font-size: var(--text-size-PC-F);
}

.sub-introduction div:first-child p{
    font-size: var(--text-size-PC-B);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--sub-color4);
    text-decoration-thickness: 3px;

}

.sub-image p{
    font-size: var(--text-size-PC-C);
}

.sub-image p:nth-child(2), .sub-image p:nth-child(3){
    font-size: var(--text-size-PC-F);
    font-weight: bold;
}

.coupon .coupon-friend p{
    color: var(--white);
}

.coupon-left-bottom div:first-child p{
    font-size: var(--text-size-PC-J);
    font-weight: bold;
    color: var(--line-green);
    text-align: center;
}

.coupon-left-bottom div:nth-child(2) p{
    font-size: var(--text-size-PC-D);
    color: var(--line-green);
}

.coupon-left-bottom div:nth-child(2) p:first-child{
    font-weight: bold;
}

/* 📜文字スタイル-商品紹介ヘッダー直下部分-ここまで📜 */


/* 📜シリーズ（parfum）簡単な概要紹介に適用するスタイル ここから📜 */

#parfum-series-introduction .top p{
    color: var(--white);
}

#parfum-series-introduction .top p:first-child{
    font-size: var(--text-size-PC-E);
    font-weight: bold;
    line-height: 1.3em;
}

#parfum-series-introduction .ranking-top p{
    font-size: var(--text-size-PC-G);
}

#parfum-series-introduction .ranking-top div p{
    font-size: var(--text-size-PC-A);
}

#parfum-series-introduction .ranking-bottom p{
    line-height: 1.5em;
}

.series-introduction-top p{
    font-size: var(--text-size-PC-D);
    color: var(--white);
    
    line-height: 2.4em;
}

.series-introduction-top p:first-child{
    font-size: var(--text-size-PC-F);
    font-weight: bold;
}

.series-introduction-eachcontent .textbox0 p{
    font-size: var(--text-size-PC-E);
    color: var(--white);
    line-height: 2em;
    font-weight: bold;
}

.series-introduction-eachcontent .textbox0 p strong{
    font-size: var(--text-size-PC-H);
    color: var(--white);
    line-height: 2em;
}

.series-introduction-eachcontent .textbox1 p{
    font-size: var(--text-size-PC-D);
    color: var(--main-color);
    line-height: 1.5em;
    font-weight: bold;
}

.series-introduction-eachcontent .textbox2 p{
    font-size: var(--text-size-PC-B);
    color: var(--black);
    line-height: 1.4em;
    font-weight: bold;
}

.series-introduction-eachcontent .textbox3 p{
    line-height: 1em;
}

/* 📜シリーズ（parfum）簡単な概要紹介に適用するスタイル ここまで📜 */


/* 📜セット（shampoo+hair-oil）の説明に適用するスタイル ここから📜 */

.contents2-introduction .title-circle p{
    color: var(--white);
    font-weight: bold;
}
.contents2-introduction .contents2 p{
    line-height: 1.5em;
    text-align: center;
}


/* shampooのみ */
#shampoo .textbox0 p, #hair-oil .textbox0 p{
    font-size: var(--text-size-PC-L);
    color: var(--white);
    text-shadow: var(--shadow2);
    line-height: 2em;
}
#shampoo .textbox1 p, #hair-oil .textbox1 p{
    font-size: var(--text-size-PC-C);
    color: var(--white);
    text-align: center;
    font-weight: bold;
    text-shadow: var(--shadow2);
    line-height: 1.2em;
}
#shampoo .recommendation-list div p{
    font-size: var(--text-size-PC-A);
    font-weight: bold;
}
#shampoo .improvement p{
    font-size: var(--text-size-PC-G);
    line-height: 1.2em;
    color: var(--sub-color4);
    text-shadow: var(--shadow2);
}

#shampoo .improvement p:nth-child(3), #shampoo .improvement p:nth-child(3) strong{
    font-size: var(--text-size-PC-I);
    line-height: 1.5em;
}
/* shampooのみ */


/* 📜セット（shampoo+hair-oil）の説明に適用するスタイル ここまで📜 */


/* 📜フォーム部分に適用するスタイル ここから📜 */

.form-top{
    color: var(--white);
    line-height: 3em;
    text-align: center;
}

/* 📜フォーム部分に適用するスタイル ここまで📜 */



/* 📜フッター部分に適用するスタイル ここから📜 */

footer .copyright{
    font-size: small;
    color: var(--white);
    line-height: 2em;
}

/* 📜フッター部分に適用するスタイル ここまで📜 */



/* 📜文字のスタイルの指定 ここまで📜*/



/* ヘッダー部分（キービジュアル部分）に適用するスタイル ここから */

header{
    width: 100vw;
    /* max-width: 1800px;
    min-width: 150px; */
    margin:0 calc(50% - 50vw);
    /* height: 800px; */
    /* background-color: #aaa; */
}

header h1{
    margin-top: 0;
    padding-left: 15px;
    margin-left: calc(50vw - calc(0.5*var(--content-width-PC)));
    /* 左空白：(ビューポート幅-コンテンツ幅)/2=(100vw-800px)/2 */
}

#main-visual{
    height: 800px;
    /* max-width: 1230px; */
    margin: auto;
    background: linear-gradient(to bottom, transparent 0%, transparent 65%, var(--page-color) 91%, var(--page-color) 100%), url(images/main-images/main-visual.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
}

.catch-1{
    display: flex;
    justify-content: center;
    margin: auto;
}

.catch-1 .circle{
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px 0px;
}

.catch-1 .circle p{
    text-align: center;
    width: 75px;
}

.catch-1-text{
    flex-flow: column;
}

.catch-1-text p{
    margin-left: 20px;
    font-size: var(--text-size-PC-G);
}

.catch-2{
    height: 45px;
    width: 300px;
    font-size: var(--text-size-PC-B);
    margin: 5px auto;   
}


/* ヘッダー部分直下（1.プロモーション部分）に適用するスタイル ここから */

#contents{
    margin-top: calc(-1*(var(--spacingL) + var(--spacingS)));
}

.promo-top{
    height: 66px;
    justify-content: center;
    margin: auto;
    background-color: hsl(51, 33%, 58%, 0.7);
}

.promo-middle{
    height: auto;
    background-color: var(--page-color);
}

.promo-middle p:first-child{
    font-size: var(--text-size-PC-F);
    color: var(--main-color);
    margin:var(--spacingM) 0 0 0;
}

.promo-middle p:nth-child(2){
    margin: 24px 0;
    
}

.promo-bottom{
    height: auto;
    justify-content:space-evenly;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

.promo-bottom .send-free{
    width: 100px;
    height: 70px;
    align-items: center;
}

.promo-bottom .send-free p{
    text-align: center;
    width: auto;
    /* padding: 4px 0; */
    /* line-height: 1.7rem; */
}

.promo-bottom .send-free .send-free-top{
    background-color: var(--sub-color4);
    height: 35px;
}

.promo-bottom .send-free .send-free-bottom{
    background-color: var(--white);
    height: 35px;
}



.promo-bottom .button{
    width: 450px;
    height: 70px;
    background-color:var(--main-color);
}

.promo-bottom .button p{
    margin: auto;
}


/* ヘッダー部分直下（1.プロモーション部分）に適用するスタイル ここまで */



/* ヘッダー部分直下（2. セット内容説明部分）に適用するスタイル ここから */


.introduction-product-title{
    height: auto;
    margin: 60px 0 var(--spacingS) 0;
    justify-content: space-between;
}

.introduction-product-title hr{
    width: calc(0.5*(var(--content-width-PC) - 345px) - 150px);
    background-color: var(--black);
    height: 1px;
}

.set-contents div {
    width: 50%;
    justify-content: flex-start;
}

.set-contents div p:first-child{

}

.sub-introduction{
    justify-content: center;
}

.sub-introduction div:first-child{
    margin: 15px 0;
}

.sub-introduction .sub-image{
    height: 180px;
    width: 50%;
    background: linear-gradient(to left, transparent 0%, var(--page-color) 57%, var(--page-color) 100%), url(images/main-images/olive-oil.jpg);
    background-size: contain;
    background-position: right center;
}

.sub-introduction .sub-image p{
    width: 100%;
}

/* ヘッダー部分直下（2. セット内容説明部分）に適用するスタイル ここまで */


/* ヘッダー部分直下（3. LINEクーポン）に適用するスタイル ここから */

.coupon{
    width: auto;
    height: auto;
    margin: var(--spacingM) 10px var(--spacingL) 10px;
    justify-content: space-evenly;
    background-color:var(--right-gray);    
}

/* 吹き出し▲部分 */
.coupon{
    position: relative;
}
.coupon:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid var(--line-green);
  }
/* 吹き出し▲部分ここまで */

.coupon .coupon-friend{
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: var(--line-green);
}

.coupon-left, .coupon-right{
    margin: 20px 0;
    height: auto;
    background-color: var(--white);
}

.coupon-left{
    width: 35%;
}

.coupon-right{
    width: 60%;
    justify-content: space-evenly;
}

.coupon-right div{
    margin: 5px 0;
    padding: 5px 0 5px 0;
}

.coupon-right p{
    /* padding: 0 40px 0 15px; */
    text-align: center;
}

.coupon-left div{    
    margin: 5px 0;
}

.coupon-left-bottom div:nth-child(2){
    padding-left: 10px;
}

.coupon img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 5px 0;
}

/* ヘッダー部分直下（3. LINEクーポン）に適用するスタイル ここまで */


/* シリーズ（parfum）簡単な概要紹介に適用するスタイル ここから */

#parfum-series-introduction{
    width: auto;
    height: auto;
    margin: 0 calc(50% - 50vw);
    background: url(images/main-images/background-blueandgreen.jpg);
    background-size: cover;
    background-position: right center;
}

#parfum-series-introduction .parfum-series{
    width: var(--content-width-PC);
    margin: auto;
    height: auto;
    /* margin: -2000px auto 0 auto; */
}

/* #parfum-series-introduction #background-and-title{
    width: auto;
    height: 2132px;
    margin: 0 calc(50% - 50vw);
    background: url(images/main-images/background-blueandgreen.jpg);
    background-size: cover;
    background-position: right center;
} */

#parfum-series-introduction .spacing{
    height: var(--spacingM);
}

#parfum-series-introduction hr{
    background-color: var(--white);
    height: 1px;
    margin: 5px 0 5px 0;
}

#parfum-series-introduction .introduction-head{
    flex-direction: column;
    flex-wrap: nowrap;
}

.top{
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    background-color: var(--main-color);
}

#parfum-series-introduction .top{
    width: 100%;
    height: 70px;
}

#parfum-series-introduction .ranking .top{
    height: 50px;
    text-align: center;
}

#parfum-series-introduction .ranking-border{
    /* width: var(--content-width-PC); */
    background-color: var(--white);
    margin: var(--spacingM) auto 0 auto;
    padding: 5px;
    /* width: 100%; */
    /* border-color: var(--white); */
    /* border-style: solid; */
}

#parfum-series-introduction .ranking{
    /* width: calc(var(--content-width-PC) - 10px); */
    width: 100%;
    background-color: var(--white);
    border: 4px solid var(--main-color);
}

#parfum-series-introduction .ranking-top{
    margin: 10px 0;
    width: 100%;
}

#parfum-series-introduction .ranking-top p{
    margin: 10px 5px;
}

#parfum-series-introduction .ranking-bottom{
    /* width: 50%; */
    max-width: 50%;
    height: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

#parfum-series-introduction .ranking-bottom img{
    width: 120px;
    margin: 10px 0;
    margin-right: 10px;
}

#parfum-series-introduction .ranking-bottom div{
    /* width: 63%; */
    /* flex-direction: column; */
    height: 100%;
}

.series-introduction-top{
    text-align: center;
}

.series-introduction-top p:first-child{
    line-height: 1.5em;
    margin-top: var(--spacingM);
    margin-bottom: 15px;
}

.series-introduction-contents{
    /* width: calc(var(--content-width-PC)*0.8); */
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: var(--spacingM);
    padding-bottom: calc(var(--spacingM) + var(--spacingS));
    text-align: center;
}

.series-introduction-eachcontent .spacing-s{
    margin-top: var(--spacingS);
}

.series-introduction-eachcontent .series-each-top {
    height: 160px;
    margin-bottom: -80px;
}

.series-introduction-eachcontent .series-each-top img{
    width: 50%;
    object-fit: cover;
    height: 100%;
}

.series-introduction-eachcontent .textbox0 p strong{
    margin-right: 5px;
}

.series-introduction-eachcontent .textboxes{
    background-color: var(--white);
    padding-top: calc(20px + 80px);
    padding-bottom: 20px;
}

.series-introduction-eachcontent .textbox1, .series-introduction-eachcontent .textbox2{
    margin: 0 0 10px 0;
}


/* シリーズ（parfum）簡単な概要紹介に適用するスタイル ここまで */



/* セット（shampoo+hair-oil）の説明に適用するスタイル ここから */

#shampoo, #hair-oil{
    width: 100%;
    height: auto;
    margin: var(--spacingL) 0;
}

#shampoo .textbox0 p, #hair-oil .textbox0 p{
    text-align: center;
    height: 104px;
    margin-bottom: -104px;
    position: relative;
}

#shampoo .textbox1, #hair-oil .textbox1{
    height: 106.4px;
    margin-top: -106.4px;
}

/* #shampoo .textbox1 p:nth-child(4){
    margin-bottom: var(--spacingS);
} */




#shampoo .quadrate-image img, #hair-oil .quadrate-image img{
    height: 610px;
    object-fit: cover;
}

#shampoo .recommendation{
    margin: var(--spacingM) 40px;
    height: auto;
    background-color: var(--white);
}

#shampoo .recommendation .recommendation-text, #shampoo .recommendation-images img{
    margin: 20px 5px;
}

#shampoo .recommendation-text{
    width: 60%;
    height: auto;
}

#shampoo .recommendation p{
    text-align: center;
}

#shampoo .recommendation-list{
    text-align: left;
    height: auto;
}

#shampoo .recommendation-list li{
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5px 0;
}

#shampoo .recommendation-list div{
    margin: 7.5px 0;
}

#shampoo .recommendation-check-box{
    height: 18px;
    width: auto;
    margin-right: 10px;
}

#shampoo .recommendation-images{
    text-align: center;
}

#shampoo .recommendation-images img{
    width: 80px;
    height: 80px;
    border-radius: 25px;
}

#shampoo .improvement{
    width: auto;
    margin: auto;
    height: 250px;
}

#shampoo .improvement{
    margin: auto;
}

#shampoo .improvement div{
    margin-right: -80px;
}

#shampoo .improvement img{
    width: 35%;
    height: 250px;
    object-fit: cover;
}

#shampoo .improvement p{
    position: relative;
}

.contents2-introduction{
    height: auto;
    margin-top: var(--spacingM);
}

/* .contents2-introduction .hair-oil-set{
    display: flex;
} */

.contents2-introduction .title-circle{
    text-align: center;
}

.contents2-introduction .title-circle p{
    width: 80px;
    height: 80px;
    padding-top: 20px;
    border-radius: 50px;
    background-color: var(--main-color);
}

.contents2-introduction .contents2{
    height: auto;
    background-color: var(--white);
    padding-top: var(--spacingM);
    padding-bottom: var(--spacingM);
    margin: -30px var(--spacingM) 0 var(--spacingM);
}

.contents2-introduction .introduction-text p{
    margin-top: var(--spacingM);
}

.contents2-introduction .each-contents2{
    text-align: center;
    width: auto;
    height: auto;
}

.contents2-introduction .each-contents2 img{
    width: 80px ;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    margin: 10px 5px;
}

#shampoo .contents2-introduction .contents2{
    justify-content:space-evenly;
}

#hair-oil .contents2-introduction{
    height: auto;
}

#hair-oil .contents2-introduction .contents2{
    justify-content:space-evenly;
}

/* #hair-oil .contents2-introduction .contents2:first-child{
    margin-bottom: var(--spacingM);
} */

#hair-oil .contents2-introduction .contents2 div:first-child{
    width: 100%;
}

.contents2-introduction .title-circle:nth-child(2) div{
    margin-top: var(--spacingM);
}

/* セット（shampoo+hair-oil）の説明に適用するスタイル ここまで */



/* フォーム部分に適用するスタイル ここから */

form{
    width: 100%;
    height: auto;
    margin: auto;
    /* background-color: #1c9f94; */
}

form .form-wrapper{
    margin: 0 10px;
}

.form-top{
    margin-top: var(--spacingL);
    background-color: var(--main-color);
    line-height: 3em;
}

.form-top2{
    line-height: 1.5em;
    text-align: center;
    margin: 10px 0;
}

input{
    width: 100%;
}

label, input[type=text], input[type=tel], input[type=email]{
    display: block;
}



.form-note{
    margin: var(--spacingM) 0;
}

.form-note p:first-child{
    margin: var(--spacingM) 0 var(--spacingS) 0;
}

.form-bottom{
    height: var(--spacingL);
}

/* フォーム部分に適用するスタイル ここまで */



/* フッター部分に適用するスタイル ここから */


footer{
    background-color:var(--sub-color3);
}

footer hr{
    margin: 0;
    height: auto;
}

footer .project-name{
    font-size: var(--text-size-PC-E);
    text-align: center;
    font-weight: bold;
    /* text-shadow: var(--shadow2); */
    line-height: 1.5em;
    padding-top: var(--spacingS);
}

footer hr{
    height: 3px;
    background-color: var(--main-color);
    margin: 10px var(--spacingS);
}

footer .logo-address{
    height: auto;
    margin: 0 10px;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

footer img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

footer .copyright{
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    text-align: center;
}

/* フッター部分に適用するスタイル ここまで */





@media screen and (max-width: 799px) {
	/* タブレット・スマホ用CSS：PC版コンテンツ幅 (:799px) 以下に適用される */
    #wrapper{
        width: var(--content-width-TABLET);
        /* max-width: calc(var(--content-width-PC) - 1px); */
        min-width: var(--min-content-width);
        margin: auto;
    }
    
    header{
        width: var(--content-width-TABLET);
        max-width: var(--content-width-TABLET);
        min-width: 150px;
        /* margin:0 calc(50% - 50vw); */
        /* height: 800px; */
        /* background-color: #aaa; */
    }

    header h1{
        margin-top: 0;
        margin-left: 0;
        padding-left: 15px;
        /* margin-left: calc(50vw - calc(0.5*var(--content-width-PC))); */
        /* 左空白：(ビューポート幅-コンテンツ幅)/2=(100vw-800px)/2 */
    }

    .catch-1{
        width: auto;
        display: flex;
    }


    #parfum-series-introduction .parfum-series{
        width: var(--content-width-TABLET);
        height: auto;
        margin: 0;
    }
    
    /* #parfum-series-introduction{
        width: auto;
        height: auto;
        margin: 0;
        background: url(images/main-images/background-blueandgreen.jpg);
        background-size: cover;
        background-position: right center;
    } */

    #parfum-series-introduction .top{
        width: auto;
        height: 70px;
    }
    
    #parfum-series-introduction .ranking .top{
        height: 50px;
        width: 100vw;
    }
    
    /* #parfum-series-introduction .ranking-border{
        width: var(--content-width-TABLET);
        background-color: var(--white);
        margin: var(--spacingM) auto 0 auto;
        padding: 5px;
    } */
    
    /* #parfum-series-introduction .ranking{
        width: calc(var(--content-width-TABLET) - 10px);
        background-color: var(--white);
        border: 4px solid var(--main-color);
    } */
    
    #parfum-series-introduction .ranking-top{
        margin: 10px 0;
        width: 100vw;
    }
    
    #parfum-series-introduction .ranking-top p{
        margin: 10px 20px;
    }
    
    #parfum-series-introduction .ranking-bottom{
        width: 50%;
        max-width: 50%;
        /* height: 150px; */
        padding-left: 10px;
        justify-content: flex-start;
    }

    .series-introduction-contents{
        width: calc(var(--content-width-TABLET)*0.8);
        height: auto;
        margin: auto;
        padding-top: var(--spacingM);
        padding-bottom: calc(var(--spacingM) + var(--spacingS));
        text-align: center;
    }

}
